{% extends 'base.html.twig' %}

{% block title %}Редактировать книгу{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h1>Редактировать книгу</h1>

    {{ include('book/_form.html.twig', {'button_label': 'Обновить'}) }}

    </div>
{% endblock %}
